@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

/* font-family: 'Oswald', sans-serif */
/* font-family: 'Open-Sans', sans-serif */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open-sans', sans-serif;
}

header .line {
    height: 15px;
    background-color: #117050;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.header-area {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

.header-area a img {
    width: 64px;
    cursor: pointer;
}

.search-menu {
    display: flex;
    align-items: center;
}

.search-menu form {
    display: flex;
    align-items: center;
}

.search-menu form input {
    height: 35px;
    width: 230px;
    padding: 8px;
    outline: none;
}

.search-menu form img {
    height: 18px;
    margin-left: -30px;
    cursor: pointer;
}

.menu img {
    height: 30px;
    margin-left: 60px;
    cursor: pointer;
}